#filterModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true", width='640px;')
  .modal-dialog
    .modal-content
      .modal-header
      .modal-body
      .modal-footer