#modalFindId.modal.fade(tabindex="-1" role="dialog" aria-labelledby="findIdModalLabel" aria-hidden="true")
  .modal-dialog(style='max-width:350px')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal')
          img(src='/images/icon-close.png')
        h6 아이디 찾기
      .modal-body
        #findId-wrap
          .form-group
            label 이름
            input.form-control(name='user_name')
          .form-group
            label 휴대폰 번호
            .d-flex.justify-content-between
              input.form-control(type='tel', name='user_phone', value='010', maxlength='3')
              .mx-1.my-auto -
              input.form-control(type='tel', name='phone1', maxlength='4')
              .mx-1.my-auto -
              input.form-control(type='tel', name='phone2', maxlength='4')
          .text-center
            button.btn.btn-primary(role='button', onclick='fnFindEmail()') 확인
        #findIdResult.form-group.d-none
          label.font-weight-bold 가입된 계정 아이디
          input.form-control(type='text', name='result', style='cursor:text', readonly)
          .text-center
            button.btn.btn-primary(role='button', onclick='fnCloseModal("#modalFindId")') 로그인
      //- .modal-footer