#modalCoupon.modal.fade(tabindex="-1" role="dialog" aria-labelledby="couponModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h6 쿠폰발행
      .modal-body
        .form-group
          label 가입시 사용한 이메일을 입력해주세요.
          input.form-control(name='email')
      .modal-footer
        button.btn.btn-primary(onclick='fnResetPw()') 확인
        button.btn.btn-danger(data-dismiss='modal') 닫기