#modalMatchConfirm.modal.fade(tabindex="-1" role="dialog" aria-labelledby="matchConfirmModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          h6 매치 정보 확인
        .modal-body
          - var remain = match_info.personnel - match_info.apply_member.length;
          - var n = 0;
          .input-groun
            label 신청인원
            select.form-control#selectMember
              while n < remain
                option(value=++n) !{n} 명
          .form-group
            label 보유포인트
            input.form-control#user_point(readonly)
          .form-group
            label 차감포인트
            input.form-control#require_point(readonly)
          .form-group
            label 결제 후 포인트
            input.form-control.text-white#afterPurchase(readonly)
        #confirmFooter.modal-footer
          button.btn.btn-primary(onclick='fnConfirmMatch()') 확인
          button.btn.btn-danger(data-dismiss='modal') 취소
        #requireFooter.modal-footer
          p 포인트가 부족합니다. 충전하시겠습니까?
          button.btn.btn-primary(onclick='fnChargePoint()') 확인
          button.btn.btn-danger(data-dismiss='modal') 취소