#refundModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="chargePointModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h6 포인트 환불신청
        button(data-dismiss='modal')
          img(src='/images/icon-close.png')
      .modal-body
        .form-group
          label 환불 포인트 입력
          input.form-control(type='number', name='requestRefundPoint' placeholder='0')
          label.text-dark 요청 가능 포인트는 
            span.text-primary #{new Intl.NumberFormat('ko').format(user.point) || 0}P
            | 입니다.
        button.btn.btn-primary.d-block.mx-auto.rounded-0.my-0.w-50(onclick='fnReqRefund()', name='btnReqRefund') 환불신청
        input(type='hidden', name='inpRefund', value=user.point)
