#refundModal.modal.fade(tabindex="-1" role="dialog" aria-labelledby="chargePointModalLabel" aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        h6 포인트 환불신청
      .modal-body
        .form-group
          label 환불 포인트 입력
          input.form-control(name='requestRefundPoint' placeholder='환불할 포인트를 입력해 주세요')
          label.text-info 요청 가능 포인트는 
            span.text-danger #{new Intl.NumberFormat('ko').format(user.point) || 0}
            | 입니다.
      .modal-footer
        button.btn.btn-danger.m-0(onclick='fnReqRefund()') 환불신청
        input(type='hidden', name='inpRefund', value=user.point)
