extends admin_layout
block content
	.content
		.col-md-10.mr-auto.ml-auto
			.wizard-container
				#wizardProfile.card.card-wizard(data-color="primary")
					form#wizardForm(action="" method="")
						// You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"
						.card-header.text-center
							.wizard-navigation
								ul
									li.nav-item
										a.nav-link.active(href="#location" data-toggle="tab" role="tab" aria-controls="location" aria-selected="true")
											i.nc-icon.nc-pin-3
											|  경기장 위치 선택
									li.nav-item
										a.nav-link(href="#facility" data-toggle="tab" role="tab" aria-controls="facility" aria-selected="true")
											i.nc-icon.nc-support-17
											| 경기장 시설정보 입력
									li.nav-item
										a.nav-link(href="#images" data-toggle="tab" role="tab" aria-controls="images" aria-selected="true")
											i.nc-icon.nc-image
											| 경기장 이미지 등록
						.card-body
							.tab-content
								#location.tab-pane.show.active
									include ground/location
								#facility.tab-pane
									include ground/facility
								#images.tab-pane
									include ground/image
						.card-footer
							.pull-right
								input.btn.btn-next.btn-fill.btn-rose.btn-wd(type="button" name="next" value="Next")
								input.btn.btn-finish.btn-fill.btn-rose.btn-wd(type="button" name="finish" value="Finish")
							.pull-left
								input.btn.btn-previous.btn-fill.btn-default.btn-wd(type="button" name="previous" value="Previous")
							.clearfix
					//	.form-row
					//		.col-md-6
					//			label.my-1 경기장 면적
					//			.row
					//				.col-md-6
					//					input.form-control(type='number', name='groundSizeX', placeholder='가로')
					//				.col-md-6
					//					input.form-control(type='number', name='groundSizeY', placeholder='세로')
					//	.form-row
					//		.col-md-12
					//			label.my-1 시설정보
					//			.row
					//				.col-md-3
					//					.form-check.form-check-inline
					//						label.form-check-label
					//							input.form-check-input#shower(type='checkbox', value='shower')
					//							| 샤워장
					//							span.form-check-sign
					//				.col-md-3
					//					.form-check.form-check-inline
					//						label.form-check-label
					//							input.form-check-input#shoesRental(type='checkbox', value='shoesRental')
					//							| 풋살화 대여
					//							span.form-check-sign
					//				.col-md-3
					//					.form-check.form-check-inline
					//						label.form-check-label
					//							input.form-check-input#uniformRental(type='checkbox', value='uniformRental')
					//							| 운동복 대여
					//							span.form-check-sign
					//				.col-md-3
					//					.form-check.form-check-inline
					//						label.form-check-label
					//							input.form-check-input#freeParking(type='checkbox', value='freeParking')
					//							| 무료주차장
					//							span.form-check-sign
					//	.form-row
					//		.col-12
					//			label.my-1 특이사항
					//			textarea.form-control(name='description')
					//	.form-row
					//		.col-12
					//			label.my-1 경기장 사진
					//			.fileinput.fileinput-new.text-center(data-provides="fileinput")
					//				.fileinput-new.thumbnail.img-raised
					//					img(src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...")
					//				.fileinput-preview.fileinput-exists.thumbnail.img-raised
					//				div
					//					span.btn.btn-raised.btn-round.btn-default.btn-file
					//						span.fileinput-new Select image
					//						span.fileinput-exists Change
					//						input(type="file" name="...")
					//					a.btn.btn-danger.btn-round.fileinput-exists(href="#pablo" data-dismiss="fileinput")
					//						i.fa.fa-times
					//						|  Remove

