extends admin_layout
block content
	.content
		.row
			.col-12
				.card
					.card-header
						h4.card-title 경기장 관리
					.card-body
						.row
							if(list.length > 0)
								each ground in list
									.col-md-4
										h5 #{ground.name}
							else
								.col-12
									p 등록된 경기장이 없습니다.
					.card-footer
						a.btn.btn-primary(href='/admin/ground/register') 경기장 등록