extends admin_layout
block content
  .content
    .row
      .col-12
        .card
          .card-header
            h4.card-title 리그 관리
          .card-body
            a.btn.btn-primary(href='/admin/league/register') 리그 생성
    script.