extends admin_layout
block content
	.content
		.col-md-10.mr-auto.ml-auto
			// Wizard container
			.wizard-container
				#wizardProfile.card.card-wizard(data-color="primary")
					form(action="" method="")
						// You can switch " data-color="primary" "  with one of the next bright colors: "green", "orange", "red", "blue"
						.card-header.text-center
							h3.card-title
								| Build Your Profile
							h5.description This information will let us know more about you.
							.wizard-navigation
								ul
									li.nav-item
										a.nav-link.active(href="#about" data-toggle="tab" role="tab" aria-controls="about" aria-selected="true")
											i.nc-icon.nc-single-02
											|  About
									li.nav-item
										a.nav-link(href="#account" data-toggle="tab" role="tab" aria-controls="account" aria-selected="true")
											i.nc-icon.nc-touch-id
											|  Account
									li.nav-item
										a.nav-link(href="#address" data-toggle="tab" role="tab" aria-controls="address" aria-selected="true")
											i.nc-icon.nc-pin-3
											|  Address
						.card-body
							.tab-content
								#about.tab-pane.show.active
									h5.info-text  Let's start with the basic information (with validation)
									.row.justify-content-center
										.col-sm-4
											.picture-container
												.picture
													img#wizardPicturePreview.picture-src(src="/assets/img/default-avatar.png" title="")
													input#wizard-picture(type="file")
												h6.description Choose Picture
										.col-sm-6
											.input-group
												.input-group-prepend
													span.input-group-text
														i.nc-icon.nc-single-02
												input.form-control(type="text" placeholder="First Name (required)" name="firstname")
											.input-group
												.input-group-prepend
													span.input-group-text
														i.nc-icon.nc-circle-10
												input.form-control(type="text" placeholder="Last Name (required)" name="lastname")
										.col-lg-10.mt-3
											.input-group
												.input-group-prepend
													span.input-group-text
														i.nc-icon.nc-send
												input.form-control(type="email" placeholder="Email (required)" name="email")
								#account.tab-pane
									h5.info-text  What are you doing? (checkboxes)
									.row.justify-content-center
										.col-lg-10
											.row
												.col-sm-4
													.choice(data-toggle="wizard-checkbox")
														input(type="checkbox" name="jobb" value="Design")
														.icon
															i.nc-icon.nc-ruler-pencil
														h6 Design
												.col-sm-4
													.choice(data-toggle="wizard-checkbox")
														input(type="checkbox" name="jobb" value="Code")
														.icon
															i.nc-icon.nc-laptop
														h6 Code
												.col-sm-4
													.choice(data-toggle="wizard-checkbox")
														input(type="checkbox" name="jobb" value="Develop")
														.icon
															i.nc-icon.nc-atom
														h6 Develop
								#address.tab-pane
									.row.justify-content-center
										.col-sm-12
											h5.info-text  Are you living in a nice area?
										.col-sm-7
											.form-group
												label Street Name
												input.form-control(type="text")
										.col-sm-3
											.form-group
												label Street No.
												input.form-control(type="text")
										.col-sm-5
											.form-group
												label City
												input.form-control(type="text")
										.col-sm-5
											.form-group.select-wizard
												label Country
												select.selectpicker(data-size="7" data-style="btn btn-primary btn-round" title="Single Select")
													option(value="Afghanistan")  Afghanistan
													option(value="Albania")  Albania
													option(value="Algeria")  Algeria
													option(value="American Samoa")  American Samoa
													option(value="Andorra")  Andorra
													option(value="Angola")  Angola
													option(value="Anguilla")  Anguilla
													option(value="Antarctica")  Antarctica
						.card-footer
							.pull-right
								input.btn.btn-next.btn-fill.btn-rose.btn-wd(type="button" name="next" value="Next")
								input.btn.btn-finish.btn-fill.btn-rose.btn-wd(type="button" name="finish" value="Finish")
							.pull-left
								input.btn.btn-previous.btn-fill.btn-default.btn-wd(type="button" name="previous" value="Previous")
							.clearfix
			// wizard container
	.content
		.row
			.col-12
				.card
					.card-header
						h4.card-title 경기장 관리
					.card-body
						.row
							if(list.length > 0)
								each ground in list
									.col-md-4
										h5 #{ground.name}
							else
								.col-12
									p 등록된 경기장이 없습니다.
					.card-footer
						button.btn.btn-primary(type='button', data-toggle='modal', data-target='#groundModal') 경기장 등록
	#groundModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='groundModalLabel', aria-hidden='true')
		.modal-dialog.modal-lg(role='document')
			.modal-content
				.modal-header
					h5.modal-title#groundModalLabel 경기장 등록
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') &times;
				.modal-body
					.form-group
						.form-row
							.col-12
								label.my-1 경기장 위치 선택
								#map.position-relative.overflow-hidden(style='width:100%; height:400px;')
								#menu_wrap
									.option
										div
											form(onsubmit='searchPlaces(); return false;')
												| 주소 :
												input#keyword(type='text', placeholder='주소를 검색해 주세요', size='15')
												button(type='submit') 검색하기
									hr
									ul#placesList.pl-0
									#pagination
						.form-row
							.col-md-4
								label.my-1(for='groundName') 경기장명
								input.form-control#groundName(type='text', placeholder='경기장명 입력', name='groundName')
							.col-md-8
								label.my-1(for='groundAddr') 경기장 주소
								input.form-control#groundAddr(type='text', placeholder='경기장 주소 입력', name='road')
								input(type='hidden', name='jibun')
								input(type='hidden', name='x', about='lng')
								input(type='hidden', name='y', about='lat')
						.form-row
							.col-md-6
								label.my-1 경기장 면적
								.row
									.col-md-6
										input.form-control(type='number', name='groundSizeX', placeholder='가로')
									.col-md-6
										input.form-control(type='number', name='groundSizeY', placeholder='세로')
						.form-row
							.col-md-12
								label.my-1 시설정보
								.row
									.col-md-3
										.form-check.form-check-inline
											label.form-check-label
												input.form-check-input#shower(type='checkbox', value='shower')
												| 샤워장
												span.form-check-sign
									.col-md-3
										.form-check.form-check-inline
											label.form-check-label
												input.form-check-input#shoesRental(type='checkbox', value='shoesRental')
												| 풋살화 대여
												span.form-check-sign
									.col-md-3
										.form-check.form-check-inline
											label.form-check-label
												input.form-check-input#uniformRental(type='checkbox', value='uniformRental')
												| 운동복 대여
												span.form-check-sign
									.col-md-3
										.form-check.form-check-inline
											label.form-check-label
												input.form-check-input#freeParking(type='checkbox', value='freeParking')
												| 무료주차장
												span.form-check-sign
						.form-row
							.col-12
								label.my-1 특이사항
								textarea.form-control(name='description')
						.form-row
							.col-12
								label.my-1 경기장 사진
								.fileinput.fileinput-new.text-center(data-provides="fileinput")
									.fileinput-new.thumbnail.img-raised
										img(src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="...")
									.fileinput-preview.fileinput-exists.thumbnail.img-raised
									div
										span.btn.btn-raised.btn-round.btn-default.btn-file
											span.fileinput-new Select image
											span.fileinput-exists Change
											input(type="file" name="...")
										a.btn.btn-danger.btn-round.fileinput-exists(href="#pablo" data-dismiss="fileinput")
											i.fa.fa-times
											|  Remove

				.modal-footer
					button.btn.btn-secondary(type='button', data-dismiss='modal') Close
					button.btn.btn-primary(type='button', onclick='fnSubmitGround()') 등록
	block append_js
		script(type="text/javascript", src="//dapi.kakao.com/v2/maps/sdk.js?appkey=dd47642bb3bbc286516220872f5eb9f6&libraries=services")
		script(type='text/javascript', src='/javascripts/ground.js')