doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge, chrome=1')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')
    meta(name="google-site-verification" content="pggNH5mt4JQJ-GzpGFSQKtxHo4wdKKAW4UWIpxCi11Q")
    link(rel="shortcut icon" href="/assets/img/favicon.ico")
    title 퍼즐풋볼
    //- font and icon
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet")

    link(href="/assets/css/bootstrap.min.css" rel="stylesheet")
    link(href="/assets/css/paper-dashboard.css" rel="stylesheet")
    //- link(rel='stylesheet', href='/nm/@fortawesome/fontawesome-free/css/all.min.css')

    link(rel='stylesheet', type='text/css', href='/nm/slick-slider/slick/slick.css')
    link(rel='stylesheet', type='text/css', href='/nm/slick-slider/slick/slick-theme.css')
    //- link(rel='stylesheet', type='text/css', href='/nm/perfect-scrollbar/css/perfect-scrollbar.css')
    //- link(rel='stylesheet', type='text/css', href='/nm/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')    
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css')

    link(rel='stylesheet', href='/public_css/style.css')
    link(rel='stylesheet', href='/public_css/sidebar.css')
    // font style
    link(rel="stylesheet", href="/public_css/custom_fonts.css")
    block append_css
  body
    .wrapper
      nav#sidebar
        //- #dismiss
        //-   i.fas.fa-arrow-left
        .sidebar-header
          a(href='/')
            img(src='/images/pz_logo.png')
        ul.list-unstyled.components.p-3
          li
            a(href="#about") 
              p 회사소개
          li
            a(href='#apply') 
              p 매니저지원
          li
            a(href='#qna') 
              p 문의하기
          li
            a(href='#faq') 
              p 자주 묻는 질문
          li.division
          li
            a(href='#')
              p 리그 순위표
          li.division
          li.description
            label SNS
          li
            a(href='https://www.instagram.com/puzzlefootball_/', target='_blank') 
              i.ho-icon.ho-instagram
              p 인스타
          li  
            a(href='https://pf.kakao.com/_nNxexaj', target='_blank')
              i.ho-icon.ho-kakao
              p 카카오플친
          li
            a(href='https://www.youtube.com/channel/UCtEGfZDcQrsOuD1mpytufVg/featured?view_as=subscriber', target='_blank')
              i.ho-icon.ho-youtube
              p 유튜브
          //- li
          //-   a(href='https://band.us/band/74014925', target='_blank') 퍼즐풋볼 밴드

      //- #content.container-fluid.pz_bg
      .container
        .d-flex.justify-content-between.px-3
          img.py-2(src='/images/pz_logo.png', style='cursor:pointer; z-index:10; width:70px', onclick='location.href="/"', alt='퍼즐풋볼 메인 로고')
          .nav-button-wrap.my-auto
            if(user_info)
              span.text-secondary
                a.text-primary(href='/users/mypage') #{user_info.user.user_name}
                | &nbsp;님 반갑습니다.
              span.px-2
                img(src='/images/vertical_bar.svg', width=10)
              span
                a.text-danger(href='/users/logout') LOGOUT
            else
              span
                //- a.text-primary(href='#' data-toggle='modal', data-target='#loginModal') 로그인
                a.text-primary(href='/users/login') 로그인
              span.text-secondary.px-2 또는
              span
                //- a.text-primary(href='#', data-toggle='modal', data-target='#joinModal') 회원가입
                a.text-primary(href='#', data-toggle='modal', data-target='#beforeJoinModal') 회원가입
            a#sidebarCollapse.pl-3(href='#')
              img(src='/images/nav_toggle.svg', width=22)
      input#isLoggedIn(type='hidden', data-isLogin=(user_info?'true':'false'))
      block content
      // login modal
      include modals/login
      include modals/join
      include modals/beforeJoin
    .overlay
    button.btn.btn-icon.btn-neutral#scrollTop(data-view='false')
      img(src='images/gotoTop.png')
      //- i.nc-icon.nc-minimal-up
    //- script(src='/nm/jquery/dist/jquery.min.js', type='text/javascript')
    script(src="/assets/js/core/jquery.min.js")
    script(src="/assets/js/core/popper.min.js")
    script(src="/assets/js/core/bootstrap.min.js")
    //- script(src='/nm/bootstrap/dist/js/bootstrap.bundle.min.js', type='text/javascript')
    script(src='/nm/slick-slider/slick/slick.min.js', type='text/javascript')
    //- script(src='/nm/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js', type='text/javascript')
    //- script(src='/nm/moment/moment.js', type='text/javascript')
    script(src="/assets/js/plugins/perfect-scrollbar.jquery.min.js")
    script(src="/assets/js/plugins/moment.min.js")
    script(src="/assets/js/plugins/bootstrap-switch.js")

    //- script(src='/nm/perfect-scrollbar/dist/perfect-scrollbar.min.js', type='text/javascript')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js')
    script(src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js")
    script(src='/public_js/comm.js', type='text/javascript')
    script(src='/public_js/ie_issue.js', type='text/javascript')
    block append_js

