extends layout
block append_css
  link(rel="stylesheet", href="/public_css/main_modal.css")
  link(rel="stylesheet", href="/public_css/main_screen.css")
  link(rel="stylesheet", href="/public_css/main_league.css")
block content
  .full-cover-pzfutball
  .container-fluid
    .container.px-0
      include include/nav
  include include/main-slider
  .container
    hr
  .container.inner-container#season-wrap
    select.form-control
      option 지역
    select.form-control
      option 리그
    select.form-control
      option 시즌
    button.btn.btn-outline-default 검색
  .container.inner-container.pt-3
    ul.nav#nav-tab(role='tablist')
      li.nav-item
        a.nav-link.active#result-tab(data-toggle='tab', href='#result', role='tab', aria-controls='result', aria-selected='true') 일정/결과
      li.nav-item.vertical-line
      li.nav-item
        a.nav-link#rank-tab(data-toggle='tab', href='#rank', role='tab', aria-controls='rank', aria-selected='true') 기록/순위
      li.nav-item.vertical-line
      li.nav-item
        a.nav-link#schedule-tab(data-toggle='tab', href='#schedule', role='tab', aria-controls='schedule', aria-selected='true') 소속 팀 일정
  .tab-content
    .container
      hr.mt-0
      h3.text-center.my-1 2020 PZ-K 시즌 1
    include league/result
    include league/rank
    include league/schedule
  #loadingPage.d-none
    .d-flex
      img(src='/nm/slick-slider/slick/ajax-loader.gif')
block append_js
  script(src='/public_js/league.js', type='text/javascript')
    