nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
	.container-fluid
		.navbar-wrapper
			.navbar-minimize
				button#minimizeSidebar.btn.btn-icon.btn-round
					i.nc-icon.nc-minimal-right.text-center.visible-on-sidebar-mini
					i.nc-icon.nc-minimal-left.text-center.visible-on-sidebar-regular
			.navbar-toggle
				button.navbar-toggler(type="button")
					span.navbar-toggler-bar.bar1
					span.navbar-toggler-bar.bar2
					span.navbar-toggler-bar.bar3
			a.navbar-brand(href="#") 퍼즐풋볼
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation")
			span.navbar-toggler-bar.navbar-kebab
			span.navbar-toggler-bar.navbar-kebab
			span.navbar-toggler-bar.navbar-kebab
		#navigation.collapse.navbar-collapse.justify-content-end
			ul.navbar-nav
				if(user)
					li.nav-item
						a.nav-link.btn-rotate(href="/manager/logout")
							i.nc-icon.nc-button-power.text-success
							p
								span.d-lg-none.d-md-block LogOut
				else
					li.nav-item
						a.nav-link.btn-rotate(href="/auth/manager")
							i.nc-icon.nc-button-power.text-danger
							p
								span.d-lg-none.d-md-block LogIn