extends layout
block append_css
  link(rel='stylesheet', href='/public_css/login.css')
  link(rel='stylesheet', href='/nm/spinkit/spinkit.min.css')
block content
  .container-fluid.pb-5
    .container#login-page
      .page-wrap
        .new-pz-logo
        .form-group.mt-5
          input.form-control(type='password', name='user_pw', placeholder='새로운 비밀번호')
        .form-group.mt-3
          input.form-control(type='password', name='user_pw_confirm', placeholder='비밀번호 확인')
        input(name='mode', type='hidden', value=query.mode)
        input(name='oobCode', type='hidden', value=query.oobCode)
          //- input(name='apiKey', type='hidden', value=query.apiKey)
        button.btn.w-100.mb-4(type='button', onclick='fnSubmitResetPW()') 비밀번호 변경
  #loadingPage.d-none
    .sk-chase
      .sk-chase-dot
      .sk-chase-dot
      .sk-chase-dot
      .sk-chase-dot
      .sk-chase-dot
      .sk-chase-dot
block append_js
  script(src='/public_js/resetPw.js')
