.px-3.mt-2.bg-white  
  .section
    h4
      a.collapsed(href='#caution', data-toggle='collapse', aria-expanded='false')
        span.text-black 주의사항
        i.nc-icon.nc-minimal-down
        i.nc-icon.nc-minimal-up
    #caution.collapse.pt-3(data-role='collapse')
      p 퍼즐 풋볼 매치는 참가자 간의 신뢰를 바탕으로 진행됩니다.
      h6.title 클린 퍼즐풋볼
      ul
        li 다른 참가자들을 위해 시간을 준수해주세요.
        li 풋살화 또는 스터드가 없는 운동화를 착용해 주세요. 
        li 과도한 경쟁, 승부욕은 나와 상대방의 부상을 야기할 수 있습니다. 
      h6.title 클린 퍼즐풋볼
      ul
        li 다른 참가자들을 위해 시간을 준수해주세요.
        li 풋살화 또는 스터드가 없는 운동화를 착용해 주세요. 
        li 과도한 경쟁, 승부욕은 나와 상대방의 부상을 야기할 수 있습니다. 
.px-3.mt-2.bg-white  
  .section
    h4 
      a.collapsed(href='#refund', data-toggle='collapse', aria-expanded='false')
        span.text-black 취소/환불
        i.nc-icon.nc-minimal-down
        i.nc-icon.nc-minimal-up
    #refund.collapse(data-role='collapse')
      h6.title 매치가 취소되는 경우
      ul
        li 각 구장별 최소 인원(6 vs 6 구장 10명 / 5 vs 5 구장 8명)이 되지 않을 경우 경기가 취소 될 수 있으며 진행 여부 안내는 1시간 30분 전까지 카카오 알림톡을 통해 안내해 드리고 있습니다.
        li 당일 기상악화의 경우에도 환급율은 동일하며 신청 전 꼭 기상 확인 바랍니다. 
        li 인원이 모집되는 경우 우천 시에도 진행되며 참석이 어려울 경우 진행 확정 전 사전 취소 부탁드립니다div
      h6.title 매치가 취소되는 경우
      ul
        li 각 구장별 최소 인원(6 vs 6 구장 10명 / 5 vs 5 구장 8명)이 되지 않을 경우 경기가 취소 될 수 있으며 진행 여부 안내는 1시간 30분 전까지 카카오 알림톡을 통해 안내해 드리고 있습니다.
        li 당일 기상악화의 경우에도 환급율은 동일하며 신청 전 꼭 기상 확인 바랍니다. 
        li 인원이 모집되는 경우 우천 시에도 진행되며 참석이 어려울 경우 진행 확정 전 사전 취소 부탁드립니다div
      h6.title 매치가 취소되는 경우
      ul
        li 각 구장별 최소 인원(6 vs 6 구장 10명 / 5 vs 5 구장 8명)이 되지 않을 경우 경기가 취소 될 수 있으며 진행 여부 안내는 1시간 30분 전까지 카카오 알림톡을 통해 안내해 드리고 있습니다.
        li 당일 기상악화의 경우에도 환급율은 동일하며 신청 전 꼭 기상 확인 바랍니다. 
        li 인원이 모집되는 경우 우천 시에도 진행되며 참석이 어려울 경우 진행 확정 전 사전 취소 부탁드립니다div
    