.main-tab-wrap
  .row-wrap
    a(href='/', class=active==='normal'?'active':'') 일반매치
    a.ml-5(href='/league', class=active==='league'?'active':'') 리그매치
  .main-logo
  .row-wrap.justify-content-end
    a.mr-5(href='/cup', class=active==='cup'?'active':'') 토너먼트
    a(href='/cup', class=active==='cup'?'active':'') FAQ