@font-face {
  font-family: DXSpdM;
  src: url("/assets/fonts/DXSpdM-KSCpc-EUC-H.woff") format("woff");
}
@font-face {
  font-family: HUJingo340;
  src: url("/assets/fonts/HUJingo340.woff") format("woff");
}
@font-face {
  font-family: NanumGothic;
  src: url("/assets/fonts/NanumGothic-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: NanumGothic;
  src: url("/assets/fonts/NanumGothic-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: bolder;
}
@font-face {
  font-family: NanumGothic;
  src: url("/assets/fonts/NanumGothic-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: NanumBarunpen;
  src: url("/assets/fonts/NanumBarunpen.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

/* 나눔스퀘어라운드 */
@font-face {
  font-family: NanumSquareRoundL;
  src: url("/assets/fonts/NanumSquareRoundL.woff") format("woff");
  font-style: normal;
  font-weight: lighter;
}
@font-face {
  font-family: NanumSquareRoundR;
  src: url("/assets/fonts/NanumSquareRoundR.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: NanumSquareRoundB;
  src: url("/assets/fonts/NanumSquareRoundB.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: NanumSquareRoundEB;
  src: url("/assets/fonts/NanumSquareRoundEB.woff") format("woff");
  font-style: normal;
  font-weight: bolder;
}
/* 티몬폰트 */
@font-face {
  font-family: Tmon;
  src: url("/assets/fonts/TmonMonsori.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: Gmarket;
  src: url("/assets/fonts/GmarketSansBold.woff") format("woff");
  font-style: bold;
}
@font-face {
  font-family: Gmarket;
  src: url("/assets/fonts/GmarketSansLight.woff") format("woff");
  font-style: lighter;
}
@font-face {
  font-family: Gmarket;
  src: url("/assets/fonts/GmarketSansMedium.woff") format("woff");
  font-style: normal;
}
/* 노토산스 폰트 */

@font-face {
  font-family: NotoSansB;
  src: url("/assets/fonts/NotoSansKR-Bold.woff") format("woff");
  font-style: bold;
}
@font-face {
  font-family: NotoSansR;
  src: url("/assets/fonts/NotoSansKR-Regular.woff") format("woff");
  font-style: normal;
}
@font-face {
  font-family: NotoSansM;
  src: url("/assets/fonts/NotoSansKR-Medium.woff") format("woff");
  font-style: lighter;
}

/* 에스코어 드림 폰트 3, 5, 6 */
@font-face{
  font-family:scdream3;
  src:url('/assets/fonts/scdream3.woff') format('woff');
}
@font-face {
  font-family: scdream5;
  src: url("/assets/fonts/scdream5.woff") format("woff");
}
@font-face {
  font-family: scdream6;
  src: url("/assets/fonts/scdream6.woff") format("woff");
}

/* 노토산스 B 36pt */
/* 노토산스 B 16pt */
h4,
h5,
.notoB {
  font-family: NotoSansB, sans-serif;
  font-weight: bold;
}
/* 노토산스 M 24pt */
/* 노토산스 M 16pt */
h6,
.notoM {
  font-family: NotoSansR;
  font-weight: normal;
}
/* 노토산스 R 16pt */
p,
span,
.notoR {
  font-family: NotoSansM, sans-serif;
  font-weight: lighter;
}
.text-black {
  color: #000;
}
.text-secondary {
  color: #666;
}
/* h5,
h6,
.h5,
.h6,
label,
span,
p,
input {
  font-family: NotoSansR, sans-serif;
  font-weight: normal;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
strong,
section.ground-list {
  font-family: NotoSansB, sans-serif;
  font-weight: bold;
} */
.calendar-slider,
.calendar-slider .h6,
.calendar-slider .small {
  font-family: DXSpdM, sans-serif;
  font-weight: normal;
  font-size: 0.85rem;
}
.main-slider .title-wrap {
  position: absolute;
  text-align: center;
}
.main-slider .title-wrap h1,
.main-slider .title-wrap h2,
.main-slider .title-wrap h3,
.main-slider .title-wrap h4,
.main-slider .title-wrap h5 {
  font-family: DXSpdM;
  color: white;
  text-shadow: 3px 3px 3px #4c4141;
}
.main-slider .title-wrap.left {
  top: 100px;
  left: 1080px;
}
.main-slider .title-wrap.right {
  top: 100px;
  left: 1550px;
}
.main-slider .title-wrap.center {
  top: 80px;
  left: 2210px;
}
.main-slider .title-wrap.center h2 {
  font-size: 2.3rem;
  font-weight: 300;
  margin-bottom: 0;
}
.main-slider .title-wrap.center h4 {
  text-align: left;
  transform: scale(1, 1.2);
  margin: 0;
  font-size: 1.3rem;
}
.main-slider .title-wrap.center h5 {
  color: lightgray;
  text-shadow: none;
  transform: scale(0.8, 1);
  margin-bottom: 0;
}
.main-slider .title-wrap h1 {
  font-size: 3.2rem;
  font-weight: 400;
}
.main-slider .title-wrap h3 {
  margin-bottom: 0;
  font-size: 1.5rem;
  transform: scale(1, 1.35);
  font-weight: normal;
}
.card.profile-card h2,
.card.profile-card h4 {
  font-family: scdream5;
}
.fontGmarket {
  font-family: Gmarket;
}
