.form-group input.form-control,
.form-group select.form-control {
  border-radius: 0;
  padding: 0 0.5rem;
}
input.form-control:focus,
select.form-control:focus {
  border: 2px solid #662d91;
}
#login-page,
#join-page {
  max-width: 350px;
  height: calc(100vh - 130px);
  display: table;
}
#login-page .page-wrap,
#join-page .page-wrap {
  display: table-cell;
  vertical-align: middle;
}
#login-page h5.title {
  text-align: center;
}
#login-page img,
#login-page ul.local-login {
  max-width: 220px;
  margin: auto;
}
#login-page ul {
  text-align: center;
  padding: 0;
}
#login-page ul li {
  list-style-type: none;
  padding-bottom: 0.5rem;
}
/* #join-page {
  max-width: 1110px;
} */
hr,
#login-page .d-flex.justify-content-between .vertical-line {
  border-color: rgb(89, 89, 89);
}
#login-page input.form-control {
  border-radius: 0px;
  font-family: scdream5;
  font-weight: normal;
  color: rgb(127, 127, 127);
  font-size: 14px;
}
#login-page button[type="submit"] {
  background-color: #662d91;
  color: #fff;
  font-family: scdream6;
  font-weight: bold;
  font-size: 20px;
}
#login-page .form-check-label,
h6.title {
  font-family: scdream5;
  font-weight: bold;
  font-size: 14px;
}
#login-page .d-flex.justify-content-between a {
  font-family: scdream5;
  font-weight: bold;
}
#login-page .d-flex.justify-content-between a:hover {
  color: #662d91;
}
#login-page .d-flex.justify-content-between .vertical-line {
  margin: 4px 0;
  width: 1px;
  border-width: 1px;
  border-style: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
.row-wrap .form-group {
  flex: 1;
}
.row-wrap .form-group label {
  font-family: scdream5;
  font-size: 14px;
}
.skill-btn-wrap button {
  margin: 0;
  width: 33.3%;
  background-color: #ccc;
  font-family: scdream5;
  font-weight: bold;
  color: rgb(127, 127, 127);
}
.skill-btn-wrap button.btn:hover,
.skill-btn-wrap button.btn:focus,
.skill-btn-wrap button.btn[data-toggle="true"] {
  background-color: rgb(102, 45, 145) !important;
  color: black !important;
  font-weight: bold;
}
.sns-btn-wrap {
  width: 100%;
  padding: 0.75rem;
  text-align: center;
  border-radius: 5px;
  position: relative;
}
.sns-btn-wrap[data-role="naver"] {
  background-color: #2db400;
  color: white;
}
.sns-btn-wrap[data-role="kakao"] {
  background-color: #ffe812;
}
.sns-btn-wrap span.sns-font {
  font-size: 20px;
  position: absolute;
  top: 8px;
  left: 10px;
}
.profile-wrap .fileinput {
  text-align: center;
}
.rainbow_font_wrap span {
  font-size: 25px;
}
.fileinput .thumbnail.img-circle {
  max-width: 120px;
}
.profile-wrap .fileinput .position-absolute {
  bottom: 10px;
  left: 55%;
}
.profile-wrap .fileinput .position-absolute span.btn {
  padding: 7px;
  margin: 0;
  width: 30px;
}
a[data-role="login"] {
  font-family: scdream5;
  font-weight: bold;
  text-decoration: underline;
}
select[name="position"] {
  font-family: scdream5;
  font-size: 15px;
}
button[type="submit"] {
  font-family: scdream6;
  font-size: 20px;
  font-weight: bold;
}
button[name="btnSendCertify"] {
  font-family: scdream5;
  font-size: 15px;
}
.profile-desc {
  font-family: scdream5;
  font-size: 12px;
  color: rgb(255, 0, 0);
}
@media (max-width: 768px) {
  /* #join-page {
    max-width: 100%;
  } */
}
