.match_type_img {
  background-size: contain;
  background-position: center;
  cursor: pointer;
  background-image: url("/images/match_type_none.png");
  background-repeat: no-repeat;
}
.match_type_img[data-match2="false"][data-match3="false"] {
  background-image: url("/images/match_type_none.png");
}
.match_type_img[data-match2="true"][data-match3="false"] {
  background-image: url("/images/match_type_2.png");
}
.match_type_img[data-match2="false"][data-match3="true"] {
  background-image: url("/images/match_type_3.png");
}
.match_type_img[data-match2="true"][data-match3="true"] {
  background-image: url("/images/match_type_all.png");
}
.match_type_img img {
  visibility: collapse;
}
#loadingPage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}
#loadingPage .d-flex {
  justify-content: center;
  align-items: center;
  height: 100%;
}
.ground-list-slider.loading:before {
  content: "";
  background-image: url("/nm/slick-slider/slick/ajax-loader.gif");
  background-position: center 6rem;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
}
.main-tab-wrap a {
  background-color: #ddd;
  padding: 0.35rem 1rem;
  margin-right: 0.5rem;
  width: 60px;
  color: black;
  font-family: scdream6;
}
.main-tab-wrap a:hover,
.main-tab-wrap a:focus,
.main-tab-wrap a.active {
  background-color: #662d91 !important;
}
.container.inner-container {
  max-width: 938px;
}
