body {padding: 0; margin:0}
.container-fluid, .container{padding:0;}
.container{max-width:960px;}
.m-row{margin:0;}
.m-row .col{padding:0}
@media (min-width: 576px) {
    .main-slider .slick-list{
        border-radius:1rem;
    }
    .m-row{margin:0 -15px;}
    .m-row .col{padding:0 15px;}
}